html {
  overflow-x: hidden;
}
body {
  background-color: #272727;
  overflow-x: hidden;
}

.fixedBackground {
  text-align: center;
  background-image: url("C:\Users\palch\OneDrive\Documents\GitHub\faceless\client\src\FACELESS_light 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 400px;
  height: 100vh;
  width: 100vw;
}
